.body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to left bottom, rgb(59, 0, 46), rgb(158, 157, 157));
}
.main{
  height: fit-content;
  position: relative;
}  
.status{
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0 7px 5px black;
  color: rgb(183, 183, 183);
}
.row{
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.square{
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.543), rgba(255, 255, 255, 0.189));
  color: black;
  border: 5px solid black;
  border-radius: 10px;
  font-size: 70px;
  font-weight: bold;
  height: 150px;
  text-align: center;
  margin: 5px;
  width: 150px;
  transition: 0.3s ease;
}

.square:hover{
  transform: scale(1.06);
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.339), rgba(255, 255, 255, 0.053));
}
.winningSquare {
  background: rgb(66, 233, 33);
}
.winningSquare:hover{
  background: rgb(0, 255, 0);
}

.gameOver{
  color: rgb(134, 0, 0);
  font-size: 600px;
  font-weight: bold;
  position: absolute;
  top: 45%; /* Position at 50% from the top of the container */
  left: 50%; /* Position at 50% from the left of the container */
  transform: translate(-50%, -50%); /* Center the element horizontally and vertically */
  z-index: 999;
}

@media(max-width:550px){
  .square{
    font-size: 40px;
    height: 100px;
    width: 100px;
  }
  .gameOver{
    font-size: 400px;
  }
}